* {
    background-color: #343A40;
}

#contenedor {
    display: grid;
    grid-gap: 2px;
    grid-template-columns: repeat(2, 49%);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
    "secAgua secAgua"
    "carrusel lista"
    "footer footer"
    ;
}

section.parrafo {
    grid-area: secAgua;
}

#carrusel{
    grid-area: carrusel;
}

section.lista {
    grid-area: lista;
}

footer {
    grid-area: footer;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    transform: translateY(70px);
    color:#ffffff80;
}

#carrusel, .lista {
    margin: auto;
}

section h2 {
    font-size: 40px;
    color: #ffffff80;
}

.lista {
    font-size: 20px;
    padding: 5px;
    color: #ffffff80;
}

    
section h2 {
    text-align: center;
    width: 200%;
}

@media only screen and (min-width: 360px) and (max-width:768px) {
    #contenedor {
        display: grid;
        grid-gap: 2px;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas: 
        "secAgua"
        "carrusel"
        "lista"
        "footer"
        ;
    }

    section h2 {
        grid-area: secAgua;
    }
    
    #carrusel{
        grid-area: carrusel;
        width: 10%;
    }
    
    section.lista {
        grid-area: lista;
    }
    
    footer {
        grid-area: footer;
    }

    section h2 {
        width: 100%;
    }














}














#carrusel{
    width: 400px;
    height: 400px;
}