* {
    background-color: #343A40;
}

#contenedor {
    display: grid;
    grid-gap: 2px;
    grid-template-areas: 
    "secAgua secAgua"
    "carrusel lista"
    "footer footer"
    ;
}

section h2 {
    grid-area: secAgua;
}

#carrusel{
    grid-area: carrusel;
}

section.lista {
    grid-area: lista;
}

footer {
    grid-area: footer;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    transform: translateY(70px);
    color:#ffffff80;
}

#carrusel, .lista {
    margin: auto;
}

section h2 {
    font-size: 40px;
    color: #ffffff80;
}

.lista {
    font-size: 25px;
    padding: 5px;
    color: #ffffff80;
}

section h2 {
    position: relative;
    left: 550px;
}















#carrusel{
    width: 400px;
    height: 400px;
}