* {
    background-color: #343A40;
}
#contenedor {
    display: grid;
    grid-gap: 2px;
    grid-template-columns: repeat(2, 49%);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
    "secAgua secAgua"
    "carrusel lista"
    "footer footer"
    ;
    section {
        grid-area: secAgua;
        h2 {
            font-size: 40px;
            color: #ffffff80;
            text-align: center;
        
        }
    }
    
    #carrusel{
        grid-area: carrusel;
        margin: auto;
    }
    
    section.lista {
        grid-area: lista;
        margin: auto;
        font-size: 20px;
        padding: 10px;
        color: #ffffff80;
    }
    
    footer {
        grid-area: footer;
        display: flex;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
        transform: translateY(70px);
        color:#ffffff80;
    }
}
@media only screen and (min-width: 360px) and (max-width:768px) {
    #contenedor {
        display: grid;
        grid-gap: 2px;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas: 
        "secAgua"
        "carrusel"
        "lista"
        "footer"
        ;
        section h2 {
            grid-area: secAgua;
            width: 100%;
        }
        
        div#carrusel{
            grid-area: carrusel;
            width: 80%;
        }
        
        section.lista {
            grid-area: lista;
        }
        
        footer {
            grid-area: footer;
        }
    }

}

@media only screen and (min-width: 768px) and (max-width:820px) {
    #contenedor {
        display: grid;
        grid-gap: 2px;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas: 
        "secAgua"
        "carrusel"
        "lista"
        "footer"
        ;
        section h2 {
            grid-area: secAgua;
            width: 100%;
        }
        
        div#carrusel{
            grid-area: carrusel;
            width: 80%;
        }
        
        section.lista {
            grid-area: lista;
            font-size: 25px;
        }
        
        footer {
            grid-area: footer;
        }
    }
    
}

@media only screen and (min-width: 820px) and (max-width:1200px) {
    #contenedor {
        display: grid;
        grid-gap: 2px;
        grid-template-columns: repeat(2, 49%);
        grid-template-rows: repeat(3, auto);
        grid-template-areas: 
        "secAgua secAgua"
        "carrusel lista"
        "footer footer"
        ;
        section {
            grid-area: secAgua;
            h2 {
                font-size: 40px;
                color: #ffffff80;
                text-align: center;
            
            }
        }
        
        div#carrusel{
            grid-area: carrusel;
            margin: auto;
            width: 380px;
        }
        
        section.lista {
            grid-area: lista;
            margin: auto;
            font-size: 20px;
            padding: 10px;
            color: #ffffff80;
        }
        
        footer {
            grid-area: footer;
            display: flex;
            justify-content: space-between;
            padding-left: 20px;
            padding-right: 20px;
            transform: translateY(70px);
            color:#ffffff80;
        }
    }

}