* {
    background-color: #343A40;
}
#contenedor {
    display: grid;
    grid-gap: 2px;
    grid-template-areas: 
    "secEnergia secEnergia"
    "carrusel lista"
    "footer footer"
    ;
}

section h2 {
    grid-area: secEnergia;
}

#carrusel{
    grid-area: carrusel;
}

section.lista {
    grid-area: lista;
}

footer {
    grid-area: footer;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    transform: translateY(70px);
    color:#ffffff80;
}

#carrusel, .lista {
    margin: auto;
}

section h2 {
    font-size: 40px;
    color: #ffffff80;
}

.lista {
    font-size: 20px;
    padding: 7px;
    color: #ffffff80;
}

section h2 {
    width: 200%;
    text-align: center;
}
#carrusel {
    width: 630px;
    height: 400px;
}

@media only screen and (min-width: 360px) and (max-width:768px) {
    #contenedor {
        display: grid;
        grid-gap: 2px;
        grid-template-columns: 100%;
        grid-template-rows: repeat(4. auto);
        grid-template-areas: 
        "secEnergia"
        "carrusel"
        "lista"
        "footer"
        ;
    }

    section h2 {
        grid-area: secEnergia;
        width: 100%;
        text-align: center;
    }
    
    #carrusel{
        grid-area: carrusel;
    }
    
    section.lista {
        grid-area: lista;
    }
    
    footer {
        grid-area: footer;
    }

    #carrusel {
        width: 400px;
        margin: auto ;
    }
    
    #carrusel {
        width: 90%;
    }

}

@media only screen and (min-width: 768px) and (max-width:1200px) {
    #contenedor {
        display: grid;
        grid-gap: 2px;
        grid-template-columns: 100%;
        grid-template-rows: repeat(4. auto);
        grid-template-areas: 
        "secEnergia"
        "carrusel"
        "lista"
        "footer"
        ;
    }

    section h2 {
        grid-area: secEnergia;
        width: 100%;
        text-align: center;
    }
    
    #carrusel{
        grid-area: carrusel;
    }
    
    section.lista {
        grid-area: lista;
    }
    
    footer {
        grid-area: footer;
    }

    #carrusel {
        width: 650px;
        margin: auto ;
    }

    #carrusel {
        width: 90%;
    }




}



