* {
    background-color: #343A40 !important;
    color: #ffffff80;
}
section {
    h2 {
        text-align: center;
        padding: 10px;
    }
    p {
        text-align: justify;
        padding: 15px;
    }
}
.footer {
    transform: translateY(56px);
    padding-left: 14px;
    padding-right: 14px;
    display: flex;
    justify-content: space-between;

    h6 {
        font-weight: bold;
        font-size: 15px;
    }
}